<a href="https://colab.research.google.com/github/bebeam2942/data_viz/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [11]:
Q3 = pd.read_excel('/content/drive/MyDrive/dataviz_2021_data/-.57-.58-1.xls',sheet_name=0,skiprows=1,header=4 )   
Q3.head()

  ที่  ...               Unnamed: 8
0   1  ...  เป็นผู้ให้บริการจำหน่าย
1   2  ...  เป็นผู้ให้บริการจำหน่าย
2   3  ...  เป็นผู้ให้บริการจำหน่าย
3   4  ...  เป็นผู้ให้บริการจำหน่าย
4   5  ...  เป็นผู้ให้บริการจำหน่าย

[5 rows x 9 columns]

In [13]:
Q3_1 = pd.read_excel('/content/drive/MyDrive/dataviz_2021_data/-.57-.58-1.xls',sheet_name=1,skiprows=1,header=4 )   
Q3_1.head()

  ที่  ...               Unnamed: 8
0   1  ...  เป็นผู้ให้บริการจำหน่าย
1   2  ...           เป็นผู้จำหน่าย
2   3  ...           เป็นผู้จำหน่าย
3   4  ...           เป็นผู้จำหน่าย
4   5  ...           เป็นผู้จำหน่าย

[5 rows x 9 columns]

In [14]:
Quiz = pd.concat([Q3,Q3_1])
Quiz

   ที่  ...               Unnamed: 8
0    1  ...  เป็นผู้ให้บริการจำหน่าย
1    2  ...  เป็นผู้ให้บริการจำหน่าย
2    3  ...  เป็นผู้ให้บริการจำหน่าย
3    4  ...  เป็นผู้ให้บริการจำหน่าย
4    5  ...  เป็นผู้ให้บริการจำหน่าย
..  ..  ...                      ...
75  56  ...                      NaN
76  57  ...                      NaN
77  58  ...                      NaN
78  59  ...                      NaN
79  60  ...                      NaN

[115 rows x 9 columns]

# เฉลย

In [17]:
Q3 = pd.read_excel('/content/drive/MyDrive/dataviz_2021_data/-.57-.58-1.xls',sheet_name=0,header=4,skipfooter=20 )   
Q3

   ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
0    ที่  ...                      NaN
1      1  ...  เป็นผู้ให้บริการจำหน่าย
2      2  ...  เป็นผู้ให้บริการจำหน่าย
3      3  ...  เป็นผู้ให้บริการจำหน่าย
4      4  ...  เป็นผู้ให้บริการจำหน่าย
5      5  ...  เป็นผู้ให้บริการจำหน่าย
6      6  ...  เป็นผู้ให้บริการจำหน่าย
7      7  ...  เป็นผู้ให้บริการจำหน่าย
8      8  ...  เป็นผู้ให้บริการจำหน่าย
9      9  ...  เป็นผู้ให้บริการจำหน่าย
10    10  ...  เป็นผู้ให้บริการจำหน่าย
11    11  ...  เป็นผู้ให้บริการจำหน่าย
12    12  ...  เป็นผู้ให้บริการจำหน่าย
13    13  ...  เป็นผู้ให้บริการจำหน่าย
14    14  ...  เป็นผู้ให้บริการจำหน่าย
15    15  ...  เป็นผู้ให้บริการจำหน่าย

[16 rows x 9 columns]

In [18]:
#้เปลี่ยนชื่อ column
Q3.rename(columns={'Unnamed: 5':'ราคาเสนอ','Unnamed: 7':'ราคาซื้อ'})

   ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
0    ที่  ...                      NaN
1      1  ...  เป็นผู้ให้บริการจำหน่าย
2      2  ...  เป็นผู้ให้บริการจำหน่าย
3      3  ...  เป็นผู้ให้บริการจำหน่าย
4      4  ...  เป็นผู้ให้บริการจำหน่าย
5      5  ...  เป็นผู้ให้บริการจำหน่าย
6      6  ...  เป็นผู้ให้บริการจำหน่าย
7      7  ...  เป็นผู้ให้บริการจำหน่าย
8      8  ...  เป็นผู้ให้บริการจำหน่าย
9      9  ...  เป็นผู้ให้บริการจำหน่าย
10    10  ...  เป็นผู้ให้บริการจำหน่าย
11    11  ...  เป็นผู้ให้บริการจำหน่าย
12    12  ...  เป็นผู้ให้บริการจำหน่าย
13    13  ...  เป็นผู้ให้บริการจำหน่าย
14    14  ...  เป็นผู้ให้บริการจำหน่าย
15    15  ...  เป็นผู้ให้บริการจำหน่าย

[16 rows x 9 columns]